body {
    backround-color: #0000FF; /* Warna biru */
    font-family: Arial, sans-serif; /*
    color: #0000FF; /* Warna teks utama (Biru)
}

.kartu-profil {
    width: 300px;
    margin 50px auto; /* 50px jarak atas/bawah, auto menengahkan kiri/kanan
    padding: 20px;
    background-color: white;
    border-radius: 15px; /* Membauat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba(0,0,0,0,1); /* Efek bayangan */
    text-align: center; /* Menengahkan semua teks di dalam kartu */
